article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* font-family: 'Roboto', sans-serif;

font-family: 'Cormorant Garamond', serif;

font-family: 'Fredericka the Great', cursive; */

html {
    font-size: 125%;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Cormorant Garamond', serif;
    text-transform: uppercase;
}

ul {
    list-style-type: none;
}

.wrapper {
    /* border: 1px solid red; */
    width: 85%;
    max-width: 1280px;
    margin: 0 auto;
}














/* HEADER STYLES START HERE */
header {
    background: url(assets/image-1@2x.jpg) center no-repeat;
    background-size: cover;
    min-height: 100vh;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.topNav {
    padding-top: 20px;
    margin-left: -20px;
    float: left;
    width: 500px;
}

ul.topNav li {
   float: left;
   padding: 0 10px;
}

ul.topNav a {
    color: #ffffff;
    text-decoration: none;
    font-family: 'Cormorant Garamond', serif;
    text-transform: uppercase;
    padding: 5px;
    transition: all .3s;
}

header a:hover {
    color: #666666;
}

h1 {
    padding: 0;
    margin: 0;
    margin-top: 120px;
    font-size: 6rem;
    line-height: 117px;
    font-family: 'Fredericka the Great', cursive;
    font-weight: lighter;
    text-transform: uppercase;
    color: #ffffff;
    float: right;
    text-align: right;
    width: 500px;
}

.hamMenu {
    display: none;
}

ul.socialMedia {
    float: right;
    margin: 200px 30px 0 0;
    text-align: center;
}

ul.socialMedia i {
    color: #ffffff;
    font-size: 1.1rem;
    margin: 5px 0;
    padding: 3px 0;
    transition: all .3s;
}

header i:hover {
    color: #666666;
}












/* SUZIE'S STORY STARTS HERE */
.suziesStory {
    background: #152d20;
    padding: 110px 0;
}

.suziesStory .img {
    width: 315px;
    float: left;
}

.suziesStory .text {
    /* border: 1px solid yellow; */
    margin-left: 40px;
    margin-top: -10px;
    float: left;
    max-width: calc(100% - 355px)
}

.suziesStory h2 {
    font-size: 2.55rem;
    font-family: 'Fredericka the Great', cursive;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: lighter;
    float: left;
    margin: 0;
    padding: 0;
}

.suziesStory p {
    color: #ffffff;
    float: left;
    line-height: 1.45rem;
    margin: 10px 0 25px 0;
}

.suziesStory a {
    font-family: 'Cormorant Garamond', serif;
    text-transform: uppercase;
    color: #152d20;
    float: left;
    padding: 15px 30px;
    background: #ffffff;
    border-radius: 1px;
    transition: all .3s;
}

.suziesStory a:hover {
    background: #152d20;
    color: #ffffff;
}










/* FRIENDS SECTION STARTS HERE */
.friends {
    background: #c3d3cb;
    padding-bottom: 109px;
}

.friends .img {
    float: left;
    margin: 0 15px;
    max-width: calc(33.33% - 30px);
}

.friends .gallery {
    margin: 0 -20px;
}

.friends h2 {
    margin: 0 auto;
    padding: 98px 0 93px;
    font-family: 'Fredericka the Great', cursive;
    font-size: 2.55rem;
    text-transform: uppercase;
    text-align: center;
    color: #152d20;
    max-width: 481px;
    font-weight: lighter;
}









/* threeLinks Section Starts HERE */
.threeLinks {
    background: #152d20;
    padding: 85px 0 50px;
}

.threeLinks .wrapper {
    text-align: center;
}

.threeLinks .link {
    margin: 0 auto;
    width: 33.33%;
    float: left;
}

.threeLinks a {
    color: #ffffff;
    text-align: center;
    transition: all .3s;
}

.threeLinks i {
    font-size: 2rem;
}

.threeLinks p {
    font-size: 1.95rem;
    font-family: 'Cormorant Garamond', serif;
    text-transform: uppercase;
    margin: 0;
    padding: 20px 0 0;
}

.link a:hover {
    color: #666666;
}








/* imagesAndText SECTION STARTS HERE */
.imagesAndText .text, .picture {
    max-width: 50%;
    float: left;
}

.pictureMobile {
    display: none;
}

.imagesAndText .wrapper {
    width: 75%;
    margin-top: 10%;
    margin-bottom: 3%;
    /* border: 1px solid red; */
}

.imagesAndText .text h2 {
    font-family: 'Fredericka the Great', cursive;
    font-weight: lighter;
    font-size: 1.6rem;
    line-height: 1.8rem;
    color: #152d20;
    text-transform: uppercase;
    margin: 0;
    width: 85%;
}

.imagesAndText p {
    color: #1f2022;
    line-height: 1.25rem;
    margin-bottom: 40px;
    padding-bottom: 0;
}

.imagesAndText a {
    font-family: 'Cormorant Garamond', serif;
    text-transform: uppercase;
    color: #ffffff;
    padding: 10px 25px;
    background: #152d20;
    border-radius: 1px;
    transition: all .3s;
}

.imagesAndText a:hover {
    background: #ffffff;
    color: #152d20;
}













/* FOOTER STARTS HERE */
footer {
    background: #152d20;
    padding-top: 100px;
}

footer ul {
    margin: 0;
    padding: 0;
}

footer ul li:first-child {
    padding-top: 0;
}

footer li {
    padding: 5px 0;
}

footer li:nth-of-type(2) {
    display: none;
}

footer li a {
    transition: all .3s;
}

.form {
    text-align: center;
    color: #ffffff;
}

.form h3 {
    font-family: 'Cormorant Garamond', serif;
    text-transform: uppercase;
    margin: 0 0 15px;
}

.form p {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    margin-top: 0;
}

#email {
    width: 72%;
    padding: 10px 35px; 
    float: left;
}

button {
    width: 28%;
    color: #ffffff;
    background: #000000;
    border: none;
    padding: 12px 0;
    height: 100%;
    font-size: 0.9rem;
    font-family: 'Cormorant Garamond', serif;
    text-transform: uppercase;
    transition: all .3s;
}

button:hover {
    background: #191919;
}

footer .contact {
    text-align: right;
}

footer .wrapper > * {
    float: left;
    margin: 0 auto;
}

footer nav {
    width: 20%;
}

.form {
    width: 48%;
}

.contact {
    width: 32%;
}

.contact p:nth-of-type(1) {
    padding: 0 4px;
}

.contact a {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    text-transform: lowercase;
    transition: all .3s;
}

footer a:hover {
    color: #666666;
}

.contact h3 {
    font-family: 'Cormorant Garamond', serif;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0 0 15px;
}

.contact p {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    color: #ffffff;
    display: inline-block;
    line-height: 1.45rem;
    margin: 0;
}
.copywrite p {
    text-align: center;
    background: #000000;
    color: #ffffff;
    font-size: 0.9rem;
    padding: 10px 0;
    margin: 100px 0 0;
}



















/* TABLET MEDIA QUERY STARTS HERE */
@media (max-width: 1134px) {

.imagesAndText .text {
    max-width: 100%;
    text-align: center;
}

.picture {
    display: none;
}

.pictureMobile {
    display: block;
}

.imagesAndText .wrapper {
    width: 85%;
    margin-bottom: 10%;
    /* border: 1px solid red; */
}

.imagesAndText .text h2 {
    margin: 0 auto;

}

.form {
    width: 45%;
}

.contact {
    width: 35%;
}
}

















@media (max-width: 1037px) {
header h1 {
    font-size: 4rem;
    line-height: 80px;
}

.suziesStory .img {
    width: 100%;
    margin: 0 auto;
}

.suziesStory .img img {
    margin: 0 auto;
}

.suziesStory .text {
    margin: 0 auto;
    float: none;
    max-width: 100%;
}

.suziesStory h2 {
    font-size: 2.55rem;
    float: none;
    margin: 0;
    padding: 51px 0 0;
    clear: both;
}

.suziesStory p {
    color: #ffffff;
    float: none;
    line-height: 1.45rem;
    margin: 10px 0 25px 0;
    display: block;
    clear: both;
}

.suziesStory a {
    font-family: 'Cormorant Garamond', serif;
    text-transform: uppercase;
    color: #152d20;
    float: none;
    padding: 15px 30px;
    background: #ffffff;
    border-radius: 1px;
    transition: all .3s;
    margin: 0 auto;
    clear: both;
    text-align: center;
    display: inline;
}

footer {
    padding-top: 42px;
}

footer ul {
    margin: 0 0 100px;
}

footer li {
    float: left;
    width: 25%;
    padding: 0px;
    text-align: center;
}

footer li:nth-of-type(2) {
    display: inline-block;
}

footer li:nth-of-type(4) {
    display: none;
}

.form h3 {
    font-size: 1.25rem;
}

#email {
    width: 100%;
    max-width: 400px;
    float: none;
    text-align: center;
    margin: 0 auto 12px;
    display: block;
}

button {
    width: 100%;
    max-width: 400px;
}

footer .contact {
    text-align: center;
}

footer nav {
    width: 100%;
}

.form {
    width: 100%;
}

.contact {
    width: 100%;
}

.contact h3 {
    margin: 42px 0 15px;
}

.contact p {
    display: block;
}

.contact p:nth-of-type(1) {
    display: inline-block;
}

.copywrite p {
    margin: 40px 0 0;
}
}




















/* PHONE MEDIA QUERY */
@media (max-width:768px) {

header {
    background: url(assets/image-1-mobile@2x.jpg) center no-repeat;
    background-size: cover;
}

header ul {
    display: none;
    }

.wrapper {
    width: 90%;
}

header h1 {
    margin-top: 10px;
    font-size: 1.5rem;
    line-height: 29px;
    float: left;
    text-align: left;
    max-width: 50%;
    display: inline;
}

.hamMenu {
    display: inline-block;
    float: right;
    margin-top: 21px;
}

.suziesStory {
    padding: 51px 0;
}

.suziesStory h2 {
    font-size: 1.9rem;
}

.suziesStory p {
    font-size: 0.9rem;
}

.suziesStory a {
    font-size: 0.9rem;
    padding: 17px 20px;
}

.friends {
    padding: 0 0 51px;
}

.friends h2 {
    font-size: 1.9rem;
    padding: 40px 0 39px;
}

.friends .img {
    float: left;
    margin: 0 9px;
    max-width: calc(50% - 18px);
}

.friends .img:nth-child(3) {
    display: none;
}

.friends .gallery {
    margin: 0 -9px;
}

.threeLinks {
    padding: 1px;
}

.threeLinks .wrapper {
    text-align: center;
}

.threeLinks .link {
    width: 100%;
    float: none;
    margin: 40px 0;
}

.imagesAndText .wrapper {
    margin: 51px auto;
}

.imagesAndText .text h2 {
    font-family: 'Fredericka the Great', cursive;
    font-weight: lighter;
    font-size: 1.1rem;
    line-height: normal;
    color: #152d20;
    text-transform: uppercase;
    margin: 0 auto;
    width: 90%;
}

.imagesAndText .text p {
    font-size: 0.9rem;
    line-height: 1.45rem;
    margin-bottom: 50px;
}

.imagesAndText .text a {
    font-size: 0.9rem;
}

footer ul {
    margin: 0 0 60px;
}

footer a {
    font-size: 0.9rem;
}

.form p {
    font-size: 0.8rem;
    font-weight: normal;
    margin-top: 0;
}

#email {
    width: 100%;
    max-width: 400px;
    float: none;
    text-align: center;
    margin: 0 auto 12px;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;

}

.contact h3 {
    margin-bottom: 0;
}

button {
    font-family: 'Catamaran', sans-serif;
}

.contact a {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 0.7rem;
}

.contact p {
    font-weight: normal;
    font-size: 0.7rem;
    line-height: 1.1rem;
    margin: 0;
}
.copywrite p {
    margin: 50px 0 0;
}
}